# Core dependencies
sfn-aggregation-agent @ git+https://github.com/stepfnAI/aggregation_agent.git@main#egg=sfn_aggregation_agent
sfn-regression-agent @ git+https://github.com/stepfnAI/regression_agent.git@main#egg=sfn_regression_agent
sfn-classification-agent @ git+https://github.com/stepfnAI/classification_agent.git@main#egg=sfn_classification_agent