# Core dependencies
sfn-aggregation-agent @ git+https://github.com/stepfnAI/aggregation_agent.git@main#egg=sfn_aggregation_agent
sfn_blueprint==0.5.2
sfn-llm-client==0.1.0

pandas>=1.5.0
numpy>=1.21.0
pyyaml>=6.0
python-dotenv>=1.0.0

# Testing
pytest-cov>=4.0.0

# Type checking
mypy>=1.0.0

# Code formatting
black>=22.0.0
isort>=5.0.0

# Streamlit
streamlit>=1.39.0

# Other specialized agents (add as needed)
# agent1>=1.0.0
# agent2>=2.0.0 


lightgbm>=4.1.0
catboost>=1.2.2
xgboost>=2.0.0
prophet>=1.1.4
statsmodels>=0.14.0  
scikit-learn>=1.3.0 